<div class="add">
  <input #heroName placeholder="{{ 'HN' | translate }}" />
  <button (click)="add(heroName.value); heroName.value=''">
    <span class="glyphicon glyphicon-plus-sign"></span> {{ 'ADD' | translate }}
  </button>
</div>
<ul class="heroes list-group">
  <li *ngFor="let hero of heroes | slice:startIndex:endIndex" [class.selected]="hero === selectedHero" (click)="onSelect(hero)" class="list-group-item">
    <span class="id">{{hero.id}}</span>
    <span>{{hero.name}}</span>
    <button class="btn delete" (click)="delete(hero); $event.stopPropagation()">
      <span class="glyphicon glyphicon-minus-sign"></span>
    </button>
  </li>
  <alert *ngIf="deleteAll == true" type="danger">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">Nothing to display hero.</span>
  </alert>
  <pagination
    [itemsPerPage]="itemsPerPage"
    [totalItems]="totalItems"
    [boundaryLinks]="true"
    [(ngModel)]="currentPage"
    (pageChanged)="pageChanged($event)"
    firstText="{{ 'FIRST' | translate }}"
    lastText="{{ 'LAST' | translate }}"
    previousText="{{ 'PRE' | translate }}"
    nextText="{{ 'NEXT' | translate }}"
  >
  </pagination>
</ul>
<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}}
  </h2>
  <button (click)="gotoDetail()">{{ 'VD' | translate }}</button>
</div>